/* ---------- Intro + Info ---------- */
.intro {
    padding: 1em;
  }
  
  .intro > h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0.5rem 0;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }
  
  .info > * {
    flex: 1;
  }
  
  /* 3 cards across on larger screens */
  @media screen and (min-width: 630px) {
    .info {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  
  /* ---------- Media cards ---------- */
.media-card a {
    text-decoration: none;
    color: #000;
  }
  
  .media-card a:hover {
    color: #4b5e26;
  }
  
  .media-card h3 {
    margin: 0.5rem 0;
  }
  
  .media-card > p {
    font-size: 0.85em;
    line-height: 1.5;
    color: #444;
    margin: 0.25rem 0 0 0;
  }
  