/* ---------- Site title + logo ---------- */
.site-title {
    display: flex;
    align-items: center;
  }
  
  .site-title > span {
    font-size: 1rem;
    margin-left: 0.3em;
  }
  
  .logo {
    height: 0;
    width: 0;
    margin: 0.5em;
    display: inline-block;
    border-top: 34px solid #eaf0dc;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  
/* ---------- Global header ---------- */
.global-header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    fill: #fff;
  }
  
  .global-header a:link,
  .global-header a:visited,
  #park-header a:link,
  #park-header a:visited {
    color: #fff;
    text-decoration: none;
  }
  
  .global-header .icon {
    width: 20px;
    height: 20px;
  }
  
  .global-header__right {
    display: flex;
    align-items: center;
  }
  
  .global-header__right .search-icon {
    padding: 0 1rem;
    margin-top: 6px;
  }
  
  .global-header__right button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 1.2em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-left: 1px solid #333;
  }
  
  /* ---------- Hero banner ---------- */
  .hero-banner {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .hero-banner > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  .hero-banner__content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 1em;
  }
  
  .hero-banner__title {
    font-size: 1.8em;
  }
  
  .hero-banner__subtitle {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
  
  /* ---------- Park nav ---------- */
  .park-nav > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    font-size: 0.8rem;
  }
  
  .park-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8em 2em;
  }
  
  .park-nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .park-nav svg {
    width: 24px;
    height: 24px;
  }